# https://www.edaplayground.com config file

- Languages & Libraries
    Testbench+Design: VHDL
    Libraries: <Leave>
    Top entity: testbench
    Enable VUnit: ❌

- Tools and Simulators:
    Commercial Simulator: Aldec Rivera Pro 2020.04
    Compile Options: -dbg
    Run Options: -2019
    Run Time: 10ms
    Use run.do Tcl File: ✔️
